@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body {
    font-family: 'Gugi', cursive;
}

.App {
    text-align: center;
    font-family: 'Gugi', cursive;
}

.header a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
